<div class="wraper-list-coins">
  <div class="form-group">
    <input
      type="text"
      class="form-control search-control text-center"
      aria-describedby="helpId"
      [(ngModel)]="searchValue"
      (ngModelChange)="searchChanged($event)"
      placeholder="Search name or paste coin address"
    />
  </div>
  <div class="list-easy-access">
    <div
      class="quick-item"
      *ngFor="let easyAccessCoin of quickAccessCoins$ | async"
      (click)="selectCoin.emit(easyAccessCoin)"
    >
      <img class="img-logo mx-2" #refImg [src]="easyAccessCoin.image" />
      <div class="coin-name">{{ easyAccessCoin.symbol | uppercase }}</div>
    </div>
  </div>

  <ng-container *ngIf="filteredCoins.length > 0; else emptyList">
    <cdk-virtual-scroll-viewport
      appendOnly
      itemSize="50"
      class="coin-viewport"
      [ngStyle]="{ width: widthList + 'px', height: heightList + 'px' }"
    >
      <div
        *cdkVirtualFor="let coin of filteredCoins"
        class="coin-item"
        (click)="selectCoin.emit(coin)"
      >
        <div class="left-side">
          <img class="img-logo mx-3" #refImg [src]="coin.image" />
          <div class="coin-name ellipsify">{{ coin.name }}</div>
        </div>
        <div class="right-side">
          <span class="px-1">{{
            coin.amountOfToken$ | async | number : "1.1-18"
          }}</span>
          <span class="coin-symbol text-muted">{{
            toUpperCase(coin.symbol)
          }}</span>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </ng-container>
  <ng-template #emptyList>
    <div [ngStyle]="{ width: widthList + 'px', height: heightList + 'px' }">
      <app-not-found
        [subtext]="'COINS.EMPTY_SUBTITLE' | translate"
        [text]="'COINS.EMPTY' | translate"
      ></app-not-found>
    </div>
  </ng-template>
</div>
