<div class="wraper-list-coins">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      aria-describedby="helpId"
      [(ngModel)]="searchValue"
      (ngModelChange)="searchChanged($event)"
      placeholder="Search name or paste coin address"
    />
  </div>
  <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="coin-viewport">
    <div *cdkVirtualFor="let coin of filteredCoins" class="coin-item">
      <div class="left-side">
        <img class="img-logo mx-3" #refImg [src]="coin.imageSrc$ | async" />
        <span class="coin-name">{{ coin.name }}</span>
      </div>
      <div class="right-side">
        <span class="coin-symbol text-muted">{{
          toUpperCase(coin.symbol)
        }}</span>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
