<app-close-trade-common
  [viewedTrade]="[viewedTrade] | fromMNTtoLTI : 'single'"
  [displayExchangeButton]="
    (getAccount | async)?.address != viewedTrade.creator &&
    !viewedTrade.cancelled &&
    !viewedTrade.sold
  "
  [disableExchangeButton]="
    getStatus([viewedTrade] | fromMNTtoLTI : 'single') != 'Open'
  "
  [displayCancelButton]="
    (getAccount | async)?.address == viewedTrade.creator &&
    !viewedTrade.cancelled &&
    !viewedTrade.sold
  "
  [disableCancelButton]="
    getStatus([viewedTrade] | fromMNTtoLTI : 'single') != 'Open' &&
    getStatus([viewedTrade] | fromMNTtoLTI : 'single') != 'Expired'
  "
  [labelCancel]="
    getStatus([viewedTrade] | fromMNTtoLTI : 'single') == 'Expired'
      ? 'Retrieve'
      : 'Cancel'
  "
  (goBack)="goBack()"
  (exchange)="exchange()"
  (cancell)="cancell()"
>
  <app-erc721-swap></app-erc721-swap>
</app-close-trade-common>
