<div class="row availableUntil" [formGroup]="localForm">
  <div class="col checkbox-wrapper">
    <label class="custom-control custom-checkbox pb-2">
      <input
        type="checkbox"
        value="checkedValue"
        class="custom-control-input"
        formControlName="availableUntil"
      />
      <span
        class="custom-control-indicator mx-2"
        tooltip="{{ 'TRADE.TOOLTIP_AVAILABILITY' | translate }}"
        container="body"
        placement="bottom"
        ><i-bs [name]="iconNames.QuestionCircle"></i-bs
      ></span>
      <span class="custom-control-description">{{
        "TRADE.AVAILABLE_TIME" | translate
      }}</span>
    </label>
  </div>

  <div class="col badge-wrapper" *ngIf="!!localForm.value.availableUntil">
    <span
      class="badge badge-pill badge-primary bg-primary"
      [ngClass]="{
        'bg-secondary': localForm.value.selectAvailableUntil == '15'
      }"
      (click)="onClickChipTimeFrameAvailableUntil(15)"
      >15 Min</span
    >
    <span
      class="badge badge-pill badge-primary bg-primary"
      [ngClass]="{
        'bg-secondary': localForm.value.selectAvailableUntil == '30'
      }"
      (click)="onClickChipTimeFrameAvailableUntil(30)"
      >30 Min</span
    >
    <span
      class="badge badge-pill badge-primary bg-primary"
      [ngClass]="{
        'bg-secondary': localForm.value.selectAvailableUntil == '60'
      }"
      (click)="onClickChipTimeFrameAvailableUntil(60)"
      >1h</span
    >
    <span
      class="badge badge-pill badge-primary bg-primary"
      [ngClass]="{
        'bg-secondary': localForm.value.selectAvailableUntil == '1440'
      }"
      (click)="onClickChipTimeFrameAvailableUntil(1440)"
      >24h</span
    >
    <span
      class="badge badge-pill badge-primary bg-primary"
      [ngClass]="{
        'bg-secondary': localForm.value.selectAvailableUntil == 'custom'
      }"
      bsDatepicker
      [(bsValue)]="localForm.value.selectCustomAvalaible"
      [bsConfig]="{ adaptivePosition: true }"
      (click)="onClickChipTimeFrameAvailableUntil(-1)"
      >Custom</span
    >
  </div>
</div>
<div
  class="row availableUntilDetails my-2"
  *ngIf="returnAvailableDetails() != ''"
>
  <div class="col text-center text-primary text-valid-until">
    {{ "TRADE.WILL_BE_VALID_UNTIL" | translate }}
    {{ returnAvailableDetails() }}
  </div>
</div>
