<div class="card otc-card">
  <div class="card-body">
    <h4 class="card-title">Create OTC trade</h4>
    <div class="row my-2">
      <div
        class="col-12 w-100 d-flex justify-content-center align-items-center"
      >
        <div class="form-group w-100">
          <label for=""></label>
          <input
            type="text"
            class="form-control"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder=""
          />
          <small id="helpId" class="form-text text-muted"
            >I want to exchange my...</small
          >
        </div>
        <div>
          <span class="badge badge-pill badge-secondary bg-primary mx-3"
            >Coin A</span
          >
        </div>
      </div>
    </div>
    <div class="row my-2">
      <div
        class="col-12 w-100 d-flex justify-content-center align-items-center"
      >
        <div class="form-group w-100">
          <label for=""></label>
          <input
            type="text"
            class="form-control"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder=""
          />
          <small id="helpId" class="form-text text-muted"
            >For the following coin</small
          >
        </div>

        <div>
          <span class="badge badge-pill badge-secondary bg-primary mx-3"
            >Coin B</span
          >
        </div>
      </div>
    </div>
    <div class="row">
      <button type="button" class="btn btn-primary btn-lg btn-block">
        Create OTC trade
      </button>
    </div>
  </div>
</div>
