<div class="wrapperMainDivs">
  <div class="wrapperLanding w-100">
    <div class="background-flare"></div>
    <div class="wrapper-logo-centered d-none d-xl-flex">
      <div class="background-logo-1"></div>
    </div>
    <div class="d-none d-sm-flex justify-content-end">
      <div class="background-logo-2"></div>
    </div>
    <div class="section section-1 row justify-content-center">
      <div class="content-section col-12 col-lg-9">
        <h1>Mikosava</h1>
        <h2>The #1 <strong>multichain decentralized</strong> OTC Hub</h2>
        <div class="action-buttons py-3">

          <button
            type="button"
            name=""
            [routerLink]="['/swap']"
            id=""
            class="btn btn-primary btn-lg btn-block col-10 col-sm-8 col-md-6 col-lg-2"

          >
            🔥Enter App
          </button>
        </div>
        <div class="footer-text d-flex justify-content-center py-2">
          <span class="text-muted"
            >Trade anything you want, without intermediaries, 24/7, around the
            🌎.</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
