@import "../../../../assets/variables.scss";

.list-group-item:nth-child(odd) {
  background-color: lighten($primary, 60%);
}

.list-group-item:nth-child(even) {
  background-color: lighten($secondary, 40%);
}

.list-group-item {
  .col {
    @include media-breakpoint-between(xs, sm) {
      padding: 10px 0px;
    }
  }
}

.actions {
  button {
    margin: 0px 5px;
  }
}

.pairA,
.pairB {
  flex-grow: 2;
}

.tradeItem {
  height: 180px !important;
  @include media-breakpoint-up(lg) {
    height: 60px !important;
  }
}

.col {
  display: flex;
  align-items: center;
}

.cancel-btn {
  border: 0 !important;
}

.menuitem {
  display: flex;
  cursor: pointer;
}

.details-btn {
  border: none;
  display: flex;
}

.empty-list {
  position: absolute;
}
