@import "../../../../assets/variables.scss";

.active {
  opacity: 0.5;
  border: 1px solid $secondary;
  transition: all 0.1s;
}

.nft-item {
  height: 64px;
  width: 64px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 10px;
  border: 1px solid $ternary;
  border-radius: 10px;
  position: relative;
  &:hover {
    @extend .active;
  }
}
