<nav class="navbar navbar-expand-md" aria-label="Fourth navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/favicon-32x32.png" alt="" srcset="" />
    </a>
    <button
      class="navbar-toggler"
      (click)="isCollapsed = !isCollapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample04"
      aria-controls="navbarsExample04"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarsExample04"
      [collapse]="isCollapsed"
    >
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: isCurrentPathActive('/dashboard') }"
            aria-current="page"
            [routerLink]="['/dashboard']"
            routerLinkActive="router-link-active"
            >Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: isCurrentPathActive('/list') }"
            [routerLink]="['/list']"
            routerLinkActive="router-link-active"
            >My trades</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: isCurrentPathActive('/swap') }"
            aria-current="page"
            [routerLink]="['/swap']"
            routerLinkActive="router-link-active"
            >Swap</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            href="https://docsv2.mikosava.com/"
            target="_blank"
            >Documentation</a
          >
        </li>
      </ul>
      <div class="actions d-flex justify-content-center align-items-center">
        <div class="mx-2 h-100">
          <app-network-displayer></app-network-displayer>
        </div>
        <div class="h-100 mx-2 d-none d-lg-block">
          <span class="text-primary large-text"
            >{{ balance$ | async }} {{ nativeCurrencyName$ | async }}</span
          >
        </div>
        <div class="h-100"><app-address-displayer></app-address-displayer></div>
      </div>
    </div>
  </div>
</nav>
