@import "../../../../assets/variables.scss";

.nft-card {
  position: relative;
  i-bs {
    display: none;
  }
  &:hover {
    i-bs {
      display: block;
      position: absolute;
      right: 10px;
      cursor: pointer;
    }
  }
}

.erc721-swap {
  display: flex;
  padding: 25px 25px;
  @include media-breakpoint-between(xs, sm) {
    padding: 25px 0px;
    flex-wrap: wrap;
  }
}

.separate-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  i-bs {
    border-radius: 5px;
    padding: 5px;
    color: $secondary;
  }
}

.card-a,
.card-b {
  display: flex;
  flex-direction: column;
  button {
    border: 0px;
    align-self: center;
  }
}
