<div class="card border-primary tx-ongoing-modal-wrapper">
  <img class="card-img-top" src="holder.js/100px180/" alt="" />
  <div class="card-body">
    <h4 class="card-title">TX Pending</h4>
    <p class="card-text">
      You can view the transaction by clicking
      <a href="{{ txHash }}" target="_blank" rel="noopener noreferrer">here</a>
    </p>
    <div class="w-100 wrapper-spinner">
      <div class="spinner-border" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </div>
</div>
