<div class="btn-group h-100 w-100" dropdown>
  <button
    id="button-basic"
    dropdownToggle
    type="button"
    [ngClass]="{
      'text-primary': !!activeNetwork,
      'text-danger': !activeNetwork
    }"
    class="btn dropdown-toggle p-1 d-flex justify-content-between align-items-center"
    aria-controls="dropdown-basic"
  >
    <ng-container *ngIf="activeNetwork; else noCompatibleNetwork">
      <img src="{{ activeNetwork.asset }}" alt="" srcset="" />
      <span>{{ activeNetwork.name }}</span>
    </ng-container>
    <ng-template #noCompatibleNetwork>
      <i-bs [name]="iconNames.ExclamationDiamond"></i-bs
      ><span>{{ "ACCOUNT.NO_COMPATIBLE_NETWORK" | translate }}</span>
    </ng-template>

    <span class="caret"></span>
  </button>
  <ul
    id="dropdown-basic"
    *dropdownMenu
    class="dropdown-menu w-100"
    role="menu"
    aria-labelledby="button-basic"
  >
    <li
      role="menuitem"
      *ngFor="let network of networksAvalaible"
      (click)="selectNetwork(network)"
    >
      <div class="dropdown-item"
        ><img src="{{ network.asset }}" alt="" srcset="" />
        {{ network.name }}</div
      >
    </li>
  </ul>
</div>
