<div
  class="h-100 w-100 d-flex justify-content-center align-items-center wrapper-swap"
>
  <div class="card otc-card shadow" [formGroup]="formGroupERC20">
    <div class="card-body">
      <div class="d-flex justify-content-between w-100">
        <span class="text-primary">{{ "TRADE.OPEN_TRADE" | translate }}</span>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button
            type="button"
            class="btn"
            (click)="changeType('erc20')"
            [ngClass]="{ 'btn-primary': activeTradingType == 'erc20' }"
          >
            Coin
          </button>
          <button
            type="button"
            class="btn"
            (click)="changeType('erc721')"
            [ngClass]="{ 'btn-primary': activeTradingType == 'erc721' }"
          >
            NFT
          </button>
        </div>
      </div>
      <div class="erc20" *ngIf="activeTradingType == 'erc20'">
        <app-erc20-swap
          [(allowance)]="allowance"
          [formERC20]="formGroupERC20"
        ></app-erc20-swap>
      </div>

      <div class="nft" *ngIf="activeTradingType == 'erc721'">
        <app-erc721-swap></app-erc721-swap>
      </div>

      <div class="mixed" *ngIf="activeTradingType == 'mixed'"></div>

      <div
        class="row availableUntilDetails my-2"
        *ngIf="returnAvailableDetails() != ''"
      >
        <div class="col text-center text-primary text-valid-until">
          {{ "TRADE.WILL_BE_VALID_UNTIL" | translate }}
          {{ returnAvailableDetails() }}
        </div>
      </div>
      <div class="row">
        <button
          *ngIf="allowance >= amountCoinAParsed && activeTradingType == 'erc20'"
          type="button"
          class="btn btn-primary btn-lg btn-block"
          (click)="openTrade()"
          [disabled]="
            !formGroupERC20.valid ||
            !(ACoin | async) ||
            !(BCoin | async) ||
            (!!formGroupERC20.get('availableUntil') &&
              !formGroupERC20.get('selectAvailableUntil'))
          "
        >
          Open token trade
        </button>

        <button
          *ngIf="activeTradingType == 'erc721'"
          type="button"
          class="btn btn-primary btn-lg btn-block"
          (click)="openNftTrade()"
          [disabled]="!(NFTA | async) || !(NFTB | async)"
        >
          Open NFT trade
        </button>

        <button
          type="button"
          *ngIf="allowance < amountCoinAParsed && activeTradingType == 'erc20'"
          class="btn btn-secondary btn-lg btn-block"
          (click)="approve()"
        >
          Approve
        </button>
      </div>
    </div>
  </div>
</div>
