<div class="h-100 w-100 wrapper-swap px-3">
  <div class="card col-12 col-lg-8">
    <div class="card-body d-flex justify-content-center align-items-center">
      <div class="list-group w-100">
        <div class="header mb-2">
          <span class="text-primary">{{ "TRADE.MY_TRADES" | translate }}</span>
          <button
            type="button"
            class="btn btn-primary"
            [ngClass]="{
              'animate__animated animate__pulse animate__infinite':
                trades.length == 0
            }"
            (click)="redirectToTrade()"
          >
            {{ "TRADE.OPEN_NEW_TRADE" | translate }}
          </button>
        </div>
        <div
          class="type-list-changer w-100 d-flex justify-content-start"
          [formGroup]="form"
        >
          <div
            class="btn-group py-2 type-switcher"
            btnRadioGroup
            formControlName="activeType"
          >
            <label
              btnRadio="erc20"
              class="btn btn-secondary no-wrap-text chip-button"
            >
              Tokens</label
            >
            <label
              btnRadio="erc721"
              class="btn btn-secondary no-wrap-text chip-button"
            >
              NFTs</label
            >
          </div>
        </div>
        <div class="list w-100">
          <app-list-trades
            *ngIf="form.value.activeType == 'erc20'"
            [trades]="trades | fromMTtoLTI"
            [tradesLoaded]="tradesLoaded"
            (clickTradeItem)="clickedTradeItem($event)"
            (cancelTradeItem)="cancelTrade($event)"
            (shareTradeItem)="openShareModal($event)"
          ></app-list-trades>

          <app-list-trades
            *ngIf="form.value.activeType == 'erc721'"
            [trades]="nftTrades | fromMNTtoLTI"
            [tradesLoaded]="tradesLoaded"
            (shareTradeItem)="openShareModal($event)"
            (clickTradeItem)="clickedNftTradeItem($event)"
            (viewNftDetails)="viewNftDetails($event)"
          ></app-list-trades>
        </div>
      </div>
    </div>
  </div>
</div>
