<app-close-trade-common
  [viewedTrade]="[viewedTrade] | fromMTtoLTI : 'single'"
  [displayExchangeButton]="
    (getAccount | async)?.address != viewedTrade.creator &&
    allowance >= viewedTrade.amountPositionCounterpart &&
    !viewedTrade.cancelled &&
    !viewedTrade.sold
  "
  [disableExchangeButton]="getStatus(viewedTrade) != 'Open'"
  [displayApproveButton]="
    (getAccount | async)?.address != viewedTrade.creator &&
    allowance < viewedTrade.amountPositionCounterpart &&
    !viewedTrade.cancelled &&
    !viewedTrade.sold &&
    getStatus(viewedTrade) != 'Expired'
  "
  [disableApproveButton]="getStatus(viewedTrade) != 'Open'"
  [displayCancelButton]="
    (getAccount | async)?.address == viewedTrade.creator &&
    !viewedTrade.cancelled &&
    !viewedTrade.sold
  "
  [disableCancelButton]="
    getStatus(viewedTrade) != 'Open' && getStatus(viewedTrade) != 'Expired'
  "
  [labelCancel]="getStatus(viewedTrade) == 'Expired' ? 'Retrieve' : 'Cancel'"
  (goBack)="goBack()"
  (exchange)="exchange()"
  (approve)="approve()"
  (cancell)="cancell()"
>
  <div class="d-flex justify-content-center align-items-center text-primary">
    <span>
      {{
        viewedTrade.amountPositionCreator
          | parseFromWeiToDecimalNumber : viewedTrade.coinCreator
          | async
          | number
      }}
    </span>
    <app-coin-img-badge
      [readOnly]="true"
      [coinAddress]="viewedTrade.coinCreator"
      [src]="(viewedTrade.coinCreator | fromAddressToCg | async)?.image ?? ''"
      [coinLabel]="
        (viewedTrade.coinCreator | fromAddressToCg | async)?.name ?? ''
      "
      [defaultLabel]="'Loading...'"
    ></app-coin-img-badge>
  </div>
  <div
    class="d-flex justify-content-center align-items-center py-3 text-primary"
  >
    <i-bs [name]="iconNames.ArrowDownUp" width="2rem" height="2rem"></i-bs>
  </div>
  <div class="d-flex justify-content-center align-items-center text-primary">
    <span>
      {{
        viewedTrade.amountPositionCounterpart
          | parseFromWeiToDecimalNumber : viewedTrade.coinCounterpart
          | async
          | number
      }}
    </span>
    <app-coin-img-badge
      [readOnly]="true"
      [coinAddress]="viewedTrade.coinCounterpart"
      [src]="
        (viewedTrade.coinCounterpart | fromAddressToCg | async)?.image ?? ''
      "
      [coinLabel]="
        (viewedTrade.coinCounterpart | fromAddressToCg | async)?.name ?? ''
      "
      [defaultLabel]="'Loading...'"
    ></app-coin-img-badge>
  </div>
</app-close-trade-common>
