<div class="h-100 w-100 wrapper-swap px-3">
  <div class="col-12 col-lg-12 col-xl-10">
    <h6 class="text-muted text-center w-100">All platform trades.</h6>
    <div class="card">
      <div class="card-body d-flex justify-content-center align-items-center">
        <div class="list-group w-100">
          <div class="header d-flex">
            <div
              class="type-list-changer d-flex justify-content-start"
              [formGroup]="form"
            >
              <div
                class="btn-group py-2 type-switcher"
                btnRadioGroup
                formControlName="activeType"
              >
                <label
                  btnRadio="erc20"
                  class="btn no-wrap-text chip-button shadow-none"
                  [ngClass]="{
                    'btn-primary': form.value.activeType == 'erc20',
                    'btn-ternary': form.value.activeType != 'erc20'
                  }"
                >
                  Tokens</label
                >
                <label
                  btnRadio="erc721"
                  class="btn no-wrap-text chip-button shadow-none"
                  [ngClass]="{
                    'btn-primary': form.value.activeType == 'erc721',
                    'btn-ternary': form.value.activeType != 'erc721'
                  }"
                >
                  NFTs</label
                >
              </div>
            </div>
            <button
              type="button"
              class="btn btn-primary"
              (click)="redirectToTrade()"
            >
              {{ "TRADE.OPEN_NEW_TRADE" | translate }}
            </button>
          </div>

          <div class="list w-100">
            <app-list-trades
              *ngIf="form.value.activeType == 'erc20'"
              [trades]="trades | fromMTtoLTI"
              [typeTrades]="form.value.activeType"
              [tradesLoaded]="tradesLoaded"
              (tradeCancelledSuccessfully)="loadMyTrades()"
            ></app-list-trades>

            <app-list-trades
              *ngIf="form.value.activeType == 'erc721'"
              [trades]="nftTrades | fromMNTtoLTI"
              [typeTrades]="form.value.activeType"
              [tradesLoaded]="tradesLoaded"
              (tradeCancelledSuccessfully)="loadMyTrades()"
            ></app-list-trades>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
