.wrapper-swap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  align-items: center;
}

.list-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
