@import "./animated-border.scss";

.material-icons {
  font-size: 16px !important;
}
.material-icons-xl {
  @extend .material-icons;
  font-size: 25px !important;
}
.actions {
  button {
    height: 40px !important;
  }
}
modal-container {
  width: 100%;
  padding: 10px;
  display: flex !important;
  justify-content: center;
  .modal-content {
    left: -5px;
    width: fit-content;
  }
}

.wrapper-swap {
  flex-direction: column;
}

.otc-card {
  width: 350px;
  border-radius: 20px;
  @include media-breakpoint-up(sm) {
    width: 550px;
  }
}

.qrcode {
  display: flex;
  justify-content: center;
}

.bg-ternary {
  background-color: $ternary;
}

input[type="text"],
input[type="number"] {
  height: 60px;
  font-size: $large-text !important;
  color: $primary !important;
}
.large-text {
  font-size: $large-text;
}

ngx-skeleton-loader {
  span {
    margin: 0px !important;
  }
}

ng-select {
  input {
    height: 100% !important;
  }
}

app-swap {
  input {
    background-color: lighten($ternary, 10%) !important;
    border: 0 !important;
    box-shadow: none !important;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.card-body {
  padding: 30px 30px 15px 30px !important;
}

.card {
  border-radius: 10px;
}
.coin-label {
  color: $primary !important;
}
.list-group-item {
  color: $primary !important;
}

app-close-trade {
  .coin-label {
    color: $primary !important;
  }
  app-share-modal {
    .wrapper {
      padding: 0px !important;
    }
  }
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.col-direction {
  flex-direction: column;
}

app-coin-img-badge {
  app-address-displayer {
    .raw-container {
      color: $primary;
    }
  }
}

app-list-trades {
  app-coin-img-badge {
    img {
      display: none !important;
      @include media-breakpoint-up(lg) {
        display: block !important;
      }
    }
  }
}

.bs-datepicker-head {
  background-color: $secondary !important;
}

td.week span {
  color: $primary !important;
}

app-list-coins,
app-swap {
  .img-logo {
    max-width: 32px;
    max-height: 32px;
  }
}

.toast-bottom-center {
  width: 100% !important;
}

.ellipsify {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trade-actions-dropdown {
  left: -140px !important;
}

.hidden-button {
  border: none;
  background: none;
}

.modal-dialog-centered {
  max-width: min-content !important;
}

.no-wrap-text {
  white-space: nowrap;
}

app-close-trade-nft {
  .main-card {
    width: 550px !important;
    @include media-breakpoint-between(xs, sm) {
      width: 400px !important;
      .erc721-swap {
        max-height: 250px;
        overflow: auto;
      }
    }
  }
  app-share-modal {
    .wrapper {
      padding: 0px !important;
    }
  }
}

app-toggle-button {
  transform: scale(0.7);
}
