@import "../../../../assets/variables.scss";

.not-found-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  img {
   // border-radius: 50%;
    max-height: 64px;
    max-width: 64px;
  //  border: 5px solid $secondary;
  }
  span.sub-text {
    font-size: $small-text;
    color: $primary;
  }
  span.main-text {
    font-size: $large-text;
    color: $ternary;
  }
  span {
    margin-top: 5px;
  }
}
