<div class="wrapper p-5-local">
  <div class="row" *ngIf="showQR">
    <div class="col" *ngIf="url">
      <qrcode
        [qrdata]="url"
        [width]="widthQr"
        [errorCorrectionLevel]="'M'"
      ></qrcode>
    </div>
  </div>
  <div class="row" *ngIf="showClipboard">
    <div class="col">
      <div
        class="link-to-copy d-flex justify-content-between"
        (click)="copyAddressToClipboard()"
      >
        <span>{{ url }}</span>
        <span class="material-icons mx-2">content_copy</span>
      </div>
    </div>
  </div>
</div>
