@import "../../../../assets/variables.scss";

.coin-selector-wrapper {
  padding: 10px;
  border-radius: 5px;
  background-color: lighten($ternary, 10%);
}

.replacer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  i-bs {
    width: fit-content;
    transform: rotate(90deg);
    transition: all 400ms;
    &:hover {
      cursor: pointer;
      color: $secondary;
    }
  }
}
