<div class="erc20-swap" [formGroup]="formERC20" *ngIf="formERC20">
  <div class="row my-2">
    <div
      class="col-12 w-100 d-flex justify-content-center align-items-center coin-selector-wrapper"
    >
      <div class="form-group w-100">
        <input
          type="number"
          min="0"
          formControlName="acoin"
          class="form-control"
          aria-describedby="helpId"
          placeholder="0"
        />
      </div>
      <div (click)="selectCoin('A')" class="wrapper-coin-quantity">
        <app-coin-img-badge
          [src]="(ACoin | async)?.image ?? ''"
          [coinLabel]="(ACoin | async)?.name ?? ''"
        ></app-coin-img-badge>
        <span class="quantity text-primary" *ngIf="ACoin | async">{{
          ((ACoin | async)?.amountOfToken$ | async) ?? 0 | number
        }}</span>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div
      class="col-12 w-100 d-flex justify-content-center align-items-center coin-selector-wrapper"
    >
      <div class="form-group w-100">
        <input
          type="number"
          min="0"
          class="form-control"
          formControlName="bcoin"
          aria-describedby="helpId"
          placeholder="0"
        />
      </div>

      <div (click)="selectCoin('B')" class="wrapper-coin-quantity">
        <app-coin-img-badge
          [src]="(BCoin | async)?.image ?? ''"
          [coinLabel]="(BCoin | async)?.name ?? ''"
        ></app-coin-img-badge>
        <span class="quantity text-primary" *ngIf="BCoin | async">{{
          ((BCoin | async)?.amountOfToken$ | async) ?? 0 | number
        }}</span>
      </div>
    </div>
  </div>
</div>
