.wrapper {
  min-width: 400px;
}

.modal-body-wrapper {
  display: flex;
  flex-direction: column;
  .select-input {
    padding: 15px;
  }
  .custom-checkbox {
    margin-top: 5px;
    .custom-control-label {
      margin-left: 5px;
    }
  }
}
